.details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.details.show {
  max-height: 200px;
}

@media (min-width: 768px) {
  .details {
    max-height: none;
    overflow: visible;
  }
}

/* swipercard */

.custom-slider {
  margin: 0 -10px;
}

.custom-slider .slick-slide {
  padding: 0 10px;
}

.swiper-container {
  position: relative;
}

.arrow-container {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
}

.arrow {
  cursor: pointer;
}

.next {
  margin-left: auto;
}

.prev {
  margin-right: auto;
}

.slide-container {
  height: 100%;
}

.slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-image {
  width: 100%;
  height: auto;
  max-height: 200px;
}

.space-y-2 {
  margin-top: 0.5rem;
}
.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: -50px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  color: black;
  transition: color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: white;
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
  color: white;
  border-color: gray;
  background-color: #5d50c6;
}

.custom-swiper-button-prev {
  left: 10px;
}

.custom-swiper-button-next {
  right: 10px;
}

.custom-swiper-button-prev .w-16,
.custom-swiper-button-next .w-16 {
  width: 32px;
  height: 32px;
}
